/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 22, 2016, 12:18:27 AM
    Author     : brennan
*/

a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: 80%;
    width: 50%;
}

.center_div{
    margin: 0 auto;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}


body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}
.nav    {
    color: #FFF;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 900;
    /*background-color:rgba(20, 152, 152, 1);*/
    padding-bottom: 60px;
}

@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}

.navbar-inverse .navbar-nav > li > a {
    color:#fff;
    font-weight:900;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color:rgba(20, 152, 152, 1);
}
.active-menu-item {
    /*background-color:rgba(20, 152, 152, 1)!important;*/
}
.navbar-inverse .navbar-nav>.active>a{
    color:rgba(20, 152, 152, 1)!important;
    background-color: #F8F8F8;
}

.property-section h2 {
    font-size: 2.5em;
    font-family: 'Josefin Sans', sans-serif;
    color: #fd7622;
}
.main-section {
    width: 30%;
    margin: 3em auto 0;
    text-align: center;
}
.property-section {
    background: #fff;
    padding: 3em;
}
.select-left {
    float: left;
    width: 50%;
}
.select-right {
    float: left;
    width: 50%;
}
.property-section input[type="text"] {
    outline: none;
    font-size: 0.95em;
    color: #222;
    padding: .8em 1em;
    width: 90%;
    margin-top: 1em ;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid#eee;
    background: #eee;
}
.sel {
    width: 97%;
    padding: .8em 1em;
    font-size: 0.95em;
    margin-top: 1em;
    outline: none;
    border: 1px solid #eee;
    background: #eee;
    color:#222;
}
.property-section input[type="submit"] {
    background: #fd7622;
    color: #fff;
    border: none;
    font-size: 1.3em;
    padding: 0.4em 1em;
    width: 91%;
    cursor: pointer;
    outline: none;
    display: block;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    margin: 0 auto;
}
.property-section input[type="submit"]:hover{
    background: #32A09F;
}
.filter-price {
    padding: 2em 0 0;
}
/*-- Slider range --*/
ul.dropdown-menu6 ,ul.dropdown-menu5{
    margin:0;
    position:relative;
}
ul.dropdown-menu6 li {
    list-style:none;
}
ul.dropdown-menu6 li p{
    width:100%;
}
span.amount{
    color:#ffffff;
    font-size:16px;
}
.filter-price input#amount,.filter-price input#amount1 {
    font-size: 18px;
    outline: none;
    background: none;
    word-spacing: 1em;
    color: #000 !important;
    position: absolute;
    left: 0%;
    top: 10px;
    text-align: center;
    width: 100%;
    padding: 4px 0;
}
ul.dropdown-menu6 li a {
    text-decoration: none;
}
.range,.range-two{
    padding: 15px 0 22px 0;
    border-bottom: 1px solid #e5e3db; 
}
.filter-price h3 {
    color: #32A09F;
    text-transform: capitalize;
    font-size: 1.2em;
}
::-webkit-input-placeholder{
    color:#222;
}
:-moz-placeholder { /* Firefox 18- */
    color: #222; 
}
::-moz-placeholder {  /* Firefox 19+ */
    color: #222;  
}
:-ms-input-placeholder {  
    color: #222;  
}
/*-- //Slider range --*/
.footer {
    text-align: center;
    padding:2.4em 0;
}
.footer p {
    font-size: .9em;
    color: #fff;
    margin: 0px;
}
.footer p a {
    color: #fff;
}
.footer p a:hover {
    color: #f99104;
}
/*responsive*/
@media(max-width:1440px){
    .sel {
        width: 98%;	
    }
}
@media(max-width:1366px){
    .property-section input[type="text"] {
        width: 88%;	
    }
}
@media(max-width:1280px){
}
@media(max-width:1080px){
    .main-section {
        width: 41%;	
    }
    .property-section input[type="text"] {
        width: 89%;
    }
}
@media(max-width:1024px){
    .main-section {
        width: 45%;
    }
    .property-section input[type="text"] {
        width: 90%;
    }	
}
@media(max-width:991px){
    .main-section {
        width: 45%;
    }
    .header h1 {
        font-size: 3em;	
    }
}
@media (max-width: 800px){
    .main-section {
        width: 53%;
    }
}
@media(max-width:768px){
    .main-section {
        width: 55%;
    }	
}
@media(max-width:736px){
    .main-section {
        width: 59%;
    }	
}
@media(max-width:667px){
    .main-section {
        width: 65%;
    }	
}
@media(max-width:600px){
    .main-section {
        width: 72%;
    }
    .property-section input[type="text"] {
        width: 89%;
    }	
}
@media(max-width:568px){
    .main-section {
        width: 77%;
    }
    .header {
        margin-top: 3em;
    }
}
@media(max-width:480px){
    .main-section {
        width: 75%;
    }
    .property-section h2 {
        font-size: 2em;
    }
    .footer p {
        font-size: .85em;
        line-height: 1.5em;	
    }
    .ui-widget-content {
        margin: 1em 0 4em 0;
    }
    .property-section input[type="text"] {
        width: 87%;
    }
    .property-section {
        padding: 1.3em;
    }
}
@media(max-width:414px){
    .footer p {
        font-size: .8em;
        line-height: 1.8em;
    }
    .property-section {
        padding: 1em;
    }
    .header h1 {
        font-size: 2.5em;
    }
    .property-section input[type="text"] {
        width: 89%;
    }
    .main-section {
        width: 90%;
    }
}
@media(max-width:385px){
    .property-section input[type="text"] {
        font-size: 0.85em;
    }	
    .sel {
        width: 98%;
        font-size: 0.84em;
    }
    .header h1 {
        font-size: 2.3em;
    }
    .header {
        margin-top: 2em;
    }
}
@media (max-width: 375px){
    .property-section {
        padding: .9em;
    }
    .property-section input[type="submit"] {
        font-size: 1.2em
    }
    .footer {
        padding: 2em 0;
    }
    .header h1 {
        font-size: 2.1em;
    }
}
@media (max-width: 320px){
    .header h1 {
        line-height: 1.5em;
    }
    .main-section {
        width: 95%;
        margin: 2em auto 0;
    }
    .select-left {
        width: 100%;
    }
    .select-right {
        width: 100%;
    }
    .sel {
        width: 100%;
    }
    .header h1 {
        font-size: 1.9em;
    }
    .property-section input[type="submit"] {
        font-size: 1.1em;
    }
    .property-section h2 {
        font-size: 1.7em;
    }
}







/** { box-sizing: border-box; }
html, body {
    padding: 0;
    margin: 0;
    font-size: 1em;
}*/
[aria-hidden="true"] {
    display: none;
}
a {
    text-decoration: none;
}
a:hover, a:focus {
    text-decoration: none;
    border-bottom-color: transparent;
}


form {
    width: 100%;
    padding: 1em;
    position: relative;
}
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="number"],
select,
textarea {
    width: 100%;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: #333;
}
p{
    display: block;
    font-size: 14px;
    margin:2em 0 0.5em;
    color: #fff;
    text-transform: uppercase;
}
p.w3_field1 {
    margin-top: 1em !important;
}
fieldset legend {
    margin: 0 .5em;
    background: #FFF500;
    font-size: 1.3em;
    color: #212121;
    padding: .2em.5em;
}
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="number"],
select,textarea {
    display: block;
    font-size: 1em;
    padding: 0.5em;
    /*background: rgba(255, 255, 255, 0.78);*/
    /*border: none;*/
}
input[type="radio"] {
    float: left;
}
input[type="radio"] + label {
    display: block;
    margin: 0 0 0.5em 2em;
}
input[type="checkbox"] + label {
    display: inline-block;
    margin: 0 1em 0 0.5em;
}
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}
fieldset {
    border: none;
    padding:1em;
    margin: 1.5em 0 0;
    background:rgba(0, 0, 0, 0.42);
}
button.expand-trigger {
    font-size: 1em;
    position: relative;
    border: none;
    background: transparent;
    color: #fff;
    padding-left: 25px;
    margin-top: 1.5em;
    cursor: pointer;
    outline: none;
}
button.expand-trigger:before {
    content: '';
    display: block;
    position: absolute;
    left: 5px;
    top: 1px;
    border: solid 8px transparent;
    border-left-color:#fff;
    transition: transform 0.2s ease-out;
    transform-origin: left center;
}
button.expand-trigger[aria-expanded="true"]:before {
    transform: rotate(90deg) translate3d(-3px, -4px, 0);
}
#collapsedSection {
    display: block;
    overflow: hidden;
}





/*.agile-its{
	width:35%;
	margin:50px auto;
	background:#fff;

}
.agileinfo{
	position:relative;
}
input[type="file"]{
    position: absolute;
    top: 0px;
    left: 23%;
    padding: 8px 5px;
    opacity: 0;
    cursor: pointer;
}
h3{
	text-align:center;
	margin-top:10px;
}
#filedrag
{
	display: none;
    font-weight: 600;
    text-align: center;
    padding: 25px 0;
    margin: 25px 0;
    color: #f3c500;
    border: 2px dashed #f3c500;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    cursor: default;
    font-size: 20px;
}

#filedrag.hover
{
	color: #f00;
	border-color: #f00;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}
#messages {
    padding: 15px 10px;
    margin: 15px 0;
    border: 1px solid #00BCD4;
}
#messages p {
    color: #555;
    font-size: 14px;
	font-weight:700;
}
input[type="submit"]{
    width: 54%;
    background:#00BCD4;
    border: none;
    padding: 10px 0;
    color: #fff;
	font-size:14px;
	cursor:pointer;
	margin-left:23%;
}*/